* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

body {
    background: #dbc9aa url("/pave/img/bg.png");
    font-family: "Lora", "Georgia", "Times New Roman", "serif"; }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal; }

h1 {
    margin-top: 50px; }

.container {
    width: 100%;
    min-width: 1280px; }

header,
.main {
    float: left; }

header {
    width: 35%;
    text-align: center; }

.main {
    width: 65%; }

hr {
    border: 0;
    border-top: 1px solid #6c5d53;
    margin: 15px 0; }

nav li {
    text-align: center;
    font-size: 26px;
    letter-spacing: 1px;
    margin-bottom: 5px; }
nav li.active a {
    background: #6f5037;
    color: #f5e9d7; }
nav li a {
    color: #6f5037;
    text-decoration: none;
    padding: 5px 15px 10px;
    display: inline-block; }
nav li a:hover {
    background: #6f5037;
    color: #f5e9d7; }

.gallery {
    display: table;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    background: #454145;
    padding: 30px;
    max-width: 1200px;
    color: #f5e9d7;
    overflow: hidden; }
.gallery ul {
    max-height: 1000px;
    overflow: hidden;
    position: relative; }
.gallery .white-bg {
    display: table;
    background: rgba(255, 255, 255, 0.9);
    min-width: 800px;
    min-height: 800px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    top: 0;
    padding: 30px 0; }
.gallery h1, .gallery h2, .gallery h3, .gallery h4, .gallery h5, .gallery h6 {
    color: white; }
.gallery a {
    text-align: center;
    height: 100%;
    display: table-cell;
    vertical-align: middle; }
.gallery p {
    font-size: 18px;
    width: 50%; }
.gallery .desc-art {
    float: left; }
.gallery .desc {
    float: right;
    text-align: right;
    font-size: 16px; }
.gallery li {
    list-style-type: none;
    width: 100%;
    max-width: 1200px;
    position: relative; }
.gallery li img {
    max-height: 800px;
    display: inline-block;
    margin-bottom: -5px; }
.gallery .img-info {
    display: table;
    width: 100%; }
.gallery .cycle-prev,
.gallery .cycle-next {
    position: absolute;
    top: 50%;
    margin-top: -40px;
    z-index: 1000;
    cursor: pointer; }
.gallery .cycle-prev:hover svg,
.gallery .cycle-next:hover svg {
    opacity: 1; }
.gallery .cycle-prev {
    left: 30px; }
.gallery .cycle-next {
    right: 30px; }
.gallery svg {
    width: 40px;
    height: auto;
    opacity: 0.5; }
.gallery svg path {
    fill: #454145; }

.content {
    width: 80%;
    margin: 0 auto; }
