
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $bg-color url('/img/bg.png');
    font-family: $font-family;
    font-size: 100%;
}

::-moz-selection {
    background: $menu-color;
    color: $light-color;
}
::selection {
    background: $menu-color;
    color: $light-color;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    margin-top: 50px;
}

.container {
    width: 100%;
    min-width: 1280px;
}

header,
.main {
    float: left;
}

header {
    width: 30%;
    text-align: center;

    > a,
    > nav {
        margin-left: -70px;
    }
}

.main {
    width: 70%;

    a {
        color: $link-color;
        -webkit-transition: all .4s; /* Safari */
        transition: all .4s;

        &:hover {
            text-decoration: none;
            background: $menu-color;
            color: $light-color;
        }
    }
}

hr {
    border: 0;
    border-top: 1px solid $hr-color;
    margin: 15px 0;
}

nav {
    li {
        text-align: center;
        font-size: 1.4em;
        letter-spacing: 1px;
        margin-bottom: 5px;
        list-style-type: none;

        svg {
            width: 30px;
            height: auto;
        }

        &.active {
            a {
                background: $menu-color ;
                color: $light-color;
            }
        }

        a {
            color: $menu-color;
            text-decoration: none;
            padding: 5px 15px 10px;
            display: inline-block;

            &:hover {
                background: $menu-color ;
                color: $light-color;
            }
        }

        &.icon {
            float: left;


            a {
                &:hover {
                    background: transparent;
                }
            }
        }
    }

    .hr {
        width: 100%;
        height: 40px;

        span {
            display: inline-block;
            width: 5px;
            height: 5px;
            background: $menu-color;
            border-radius: 50%;
            position: relative;

            &:before,
            &:after {
                position: absolute;
                top: 2px;
                display: block;
                content: '';
                border-top: 1px solid $menu-color;
                width: 80px;
            }

            &:before {
                left: 20px;
            }

            &:after {
                right: 20px;
            }
        }
    }

    .fb {
        path {
            fill: #3B5999;
        }
    }

    .devart {
        svg {
            width: 20px;
        }


        path {
            fill: #05cc47;
        }
    }

    .pin {
        path {
            fill: #e3262e;
        }
    }

    .share {
        display: block;
        width: 180px;
        margin: 0 auto;
    }
}

.gallery {
    display: table;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    background: $bg-img;
    padding: 30px;
    max-width: 1200px;
    color: $light-color;
    overflow: hidden;

    ul {
        max-height: 800px;
        overflow: hidden;
        position: relative;
    }

    .white-bg {
        display: table;
        background: rgba(255, 255, 255, 0.9);
        min-width: 800px;
        min-height: 600px;
        width: 100%;
        margin-bottom: 15px;
        position: relative;
        top:0;
        padding: 30px 0;
    }

    h1, h2, h3, h4, h5, h6 {
        color: white;
    }

    a {
        text-align: center;
        height: 100%;
        display: table-cell;
        vertical-align: middle;

        &:hover {
            background: none;
        }
    }

    p {
        font-size: 1.2em;
        width: 50%;
    }

    .desc-art {
        float: left;
    }

    .desc {
        float: right;
        text-align: right;
        font-size: 1.1em;
    }

    li {
        list-style-type: none;
        width: 100%;
        max-width: 1200px;
        position: relative;

        img {
            max-height: 600px;
            display: inline-block;
            margin-bottom: -5px;
        }
    }

    .img-info {
        display: table;
        width: 100%;
    }

    .cycle-prev,
    .cycle-next {
        position: absolute;
        top: 50%;
        margin-top: -40px;
        z-index: 1000;
        cursor: pointer;

        &:hover {
            svg {
                opacity: 1;
            }
        }
    }

    .cycle-prev {
        left: 30px;
    }

    .cycle-next {
        right: 30px;
    }

    svg {
        width: 40px;
        height: auto;
        opacity: 0.5;

        path {
            fill: $bg-img;
        }
    }
}

.post {
    background: rgba(255, 255, 255, 0.5);
    padding: 0 50px 50px;
    margin: 100px 70px 20px;
    max-width: 800px;
    color: #63462F;

    header {
        width: 100%;
    }

    h1 {
        margin-bottom: 20px;
    }

    h1,
    h2,
    h3 {
        color: #63462F;
    }

    h2,
    h3 {
        margin-top: 20px;
        margin-bottom: 15px;
        text-shadow:1px 0px 0px #ffffff;
    }

    p {
        margin-bottom: 10px;
        font-size: 1.2em;
    }

    ul {
        padding-left: 20px;
    }
}
